# Terraform directories and files
.terraform/             
*.tfstate               
*.tfstate.*             
crash.log               
override.tf             
override.tf.json        
*.tfplan                
*.tfvars                
*.tfvars.json           
*.bak
.terraform.lock.hcl
bootstrap.sh
.terraform.tfstate.lock.info

# Ignore CLI configuration
.terraformrc
terraform.rc

# Ignore editor or OS files
*.swp                   
*.bak                   
*.tmp                   
.DS_Store               
Thumbs.db               

# Optional: lock file (commit if you want version consistency)
# terraform.lock.hcl    # Keep this commented if you want to commit it
